::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
::-webkit-scrollbar { 
    display: none; 
}

html{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue " , Helvetica , sans-serif;    
    color: black;
    background-color: transparent;}

.browserupgrade {
    margin: 0.2em 0;
    background: white;
    color: white;
    padding: 2em 0;}
 
svg{
    width: 100%;
    height: 100%;}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
.about{
    position: absolute;
    display: block;
    right: 15px;
    top: 10px;
    width: auto;
    position: absolute; 
    z-index: 99;
}

text{
    font-family: "Helvetica Neue" , Helvetica , sans-serif;
    letter-spacing: -0.03em;
    font-style: normal; 
    font-weight: 400;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    }

h1{
    font-family: "Helvetica Neue" , Helvetica , sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01em;     
    font-size: 16px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align: left;
    z-index: 99
}

.col1 {width: 10%;} 
.col2 {width: 20%;}
.col3 {width: 30%;}
.col4 {width: 40%;}
.col5 {width: 50%;} 
.col6 {width: 60%;}
.col7 {width: 70%;}
.col8 {width: 80%;}
.col9 {width: 90%;}
.col10 {width: 100%;}


.animation-blur-load {
  animation-name: blur-load;
  animation-duration: .3s;
  animation-timing-function: ease;
}

@keyframes blur-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    filter: blur(10px);
  }
}

[data-image-id="ImageLeft"]{ 
    height: 100vh; 
    left: 0; 
    padding: 10px;}

[data-image-id="ImageCentre"]{ 
    height: 100vh;
    padding: 10px;
    margin: auto;}

[data-image-id="ImageCentre2"]{ 
    height: 100vh;
    padding: 10px;
    margin: auto;}

data-image-id="ImageCentre3"]{ 
    height: 100vh;
    padding: 10px;
    margin: auto;}

[data-image-id="ImageCentreSpace"]{ 
    height: 100vh;
    padding: 5%;
    margin: auto;}


[data-image-id="ImageCentreNoSpace"]{ 
    height: 100vh; 
    margin: auto;
    padding: 0px;}

carousel {
  position:fixed;
    width: 100%;
  margin:0px;
    padding: 0px;
    z-index: -1;}
.carousel > img {
  display:none;}
.carousel > input {
  position:fixed;
  left:-9999px;}
.carousel > input:checked + label + img {
  display:block;}
.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display:none;}
.carousel > input:checked + label {
  display:block;
  left:0;
  cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDBweCIgaGVpZ2h0PSIyNnB4IiB2aWV3Qm94PSIwIDAgNDAgMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQxLjEgKDM1Mzc2KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSJTaGFwZSIgZmlsbD0iIzAwMDAwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAuMDAwMDAwLCAxMi44MDIwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTIwLjAwMDAwMCwgLTEyLjgwMjAwMCkgIiBwb2ludHM9IjI3LjE5OCAyNS42MDQgMzkuNDk0IDEzLjMwOCA0MCAxMi44MDIgMzkuNDk0IDEyLjI5NiAyNy4xOTggMCAyNi4xODUgMS4wMTIgMzcuMjYgMTIuMDg2IDAgMTIuMDg2IDAgMTMuNTE4IDM3LjI2IDEzLjUxOCAyNi4xODUgMjQuNTkyIj48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg=="), auto; }
.carousel > input:checked ~ label ~ label ~ label {
  display:block;
  right:0;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDAnIGhlaWdodD0nMjYnIHZpZXdCb3g9JzAgMCA0MCAyNicgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMjcuMTk4IDI2LjYwNGwxMi4yOTYtMTIuMjk2LjUwNi0uNTA2LS41MDYtLjUwNkwyNy4xOTggMWwtMS4wMTMgMS4wMTJMMzcuMjYgMTMuMDg2SDB2MS40MzJoMzcuMjZMMjYuMTg1IDI1LjU5MnonLz48L3N2Zz4K"), auto;}
.carousel > label {
  position:absolute;
  top:0;
  width:50%;
  height:100%;
  visibility:hidden;}
.carousel > label:before {
  content:'';
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  visibility:visible;}
.carousel > label:after {
  display:block;
  position:fixed;
  top:50%;
  width:25px;
  height:25px;
  line-height:0px;
  margin:-15px 10px 0 10px;
  background-color:transparent;
  text-align:center;
  visibility:hidden;}
.carousel > label:hover:after {
  visibility:visible;}
.carousel > input:checked + label:after {
  left:0;
  content:'';}
.carousel > input:checked ~ label ~ label ~ label:after {
  right:0;
  content:'';}

subtittle{
    margin: 0px;
    padding-left: 0px;}

.about{
  position: absolute;
  right: 15px;
  top: 10px;
  width: auto;
  position: fixed;
    z-index: 10;
    color: black;}

a.here:active,a.here:visited, a.here:link{
    color: black;
    text-decoration:none;
    font-style: normal;}
a.here:hover {
    color:inherit;
    text-decoration: underline;
    cursor: pointer;
}

a.here2:active,a.here2:visited, a.here2:link{
    color: black;
    text-decoration:none;
    font-style: normal;}
a.here2:hover {
    color:inherit;
    text-decoration: underline;
   cursor: pointer;}

a.link2:active,a.link2:visited, a.link2:link{
    color: black;
    text-decoration:none;
    font-style: normal;}
a.link2:hover {
    color:lightgrey;
    text-decoration: none;}



.row {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: transparent;}
.row2 {
    display: flex;
    margin: 0px;
    padding: 10px;
    background-color: transparent;
}
.copyright1{
    font-family: "Helvetica Neue " , Helvetica , sans-serif; 
    bottom: 0;
    left: 0;
    background-color: white;
    position: absolute;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0px;
}

.curvedtext{
    width: 100%;
    color: white;
    position:absolute;
}
@media only screen and (max-width: 1200px){
  h1{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01em;
      color: black;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align: left;
    z-index: 99;}  

    [data-image-id="ImageLeft"]{ 
    height: 100vh; 
    left: 0; 
    padding: 10px;}

[data-image-id="ImageCentre"]{ 
    height: 65vw;
    padding: 10px;
    margin: auto;}

[data-image-id="ImageCentreSpace"]{ 
    height: 65vw;
    padding: 5%;
    margin: auto;}


[data-image-id="ImageCentreNoSpace"]{ 
    height: 65vw; 
    margin: auto;
    padding: 0px;}
}

[data-image-id="Imagetopleft"]{ 
    height: 43vw; 
    margin: 0px;
    padding: 10px;}

[data-image-id="Imagetopleft2"]{ 
    height: 43vw; 
    margin: 0px;
    padding: 10px;}





@media only screen and (max-width: 700px) {
.col1 {width: 100%;} 
.col2 {width: 100%;}
.col3 {width: 100%;}
.col4 {width: 100%;}
.col5 {width: 100%;}
.col6 {width: 100%;} 
.col7 {width: 100%;}
.col8 {width: 100%;}
.col9 {width: 100%;}
.col10 {width: 100%;}
    
h1{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color: black;
    -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


.row2{
        display: block;
    }    
    
.about{
    position: absolute;
    display: block;
    right: 15px;
    top: 10px;
    width: auto;
    position: absolute; 
    z-index: 99;}
   }

@media only screen and (max-width: 420px){
[data-image-id="ImageLeft"]{ 
    height: 124vw; 
    margin: auto; 
    padding: 10px;}

[data-image-id="ImageCentre"]{ 
    height: 72vw; 
    margin: auto; 
    padding: 10px;}

[data-image-id="ImageCentre2"]{ 
    height: 110vw; 
    margin: auto; 
    padding: 10px;}

[data-image-id="ImageCentreSpace"]{ 
    height: 124vw; 
    margin: auto; 
    padding: 10px;}


[data-image-id="ImageCentreNoSpace"]{ 
    height: 65vw; 
    margin: auto;
    padding: 0px;}
   
[data-image-id="ImageCentreSpace"]{ 
    height: 65vw; 
    margin: auto;
    padding: 10px;}

[data-image-id="ImageCentre3"]{ 
    height: 124vw; 
    margin: auto;
    padding: 10px;}
}
    



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 2;
        widows: 2;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
