::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}



html{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue ", Helvetica , sans-serif;
    color: black;
    
    }
.browserupgrade {
    margin: 0.2em 0;
    background: white;
    color: white;
    padding: 2em 0;
}
  
svg{
    width: 100%;
    height: 100%;
}
topbar{
    position: fixed;
}

text{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 33px;
    letter-spacing: -0.04em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    }


h1{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h2{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: left;
    
}
h3{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 61px;
    line-height: 63px;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align: left;
}
h4{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 31vw;
    line-height: 1;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
}



subtittle{
    margin: 0px;
    padding-left: 20px;
}

a:active,a:visited, a:link{
    color: black;
    text-decoration:none;
    font-style: normal;
    }

a:hover {
    color:lightgrey;
    text-decoration: none;
    }

.row {
    display: flex;
    margin: 0px;
    padding: 10px;
    background-color: transparent;
}




.col1 {width: 25%;} 
.col2 {width: 50%;}
.col3 {width: 75%;}
.col4 {width: 100%;}


nav{
    width: 100%;
    background-color: transparent;
    height: 20px;
    padding: 0px;
    position: absolute;
    padding: 0px;
    }

.curvedtext{
    width: 100%;
    color: white;
    position:absolute;
}

.space{
    width: 100%;
    height: 390px;
    
}
hr {
    height: 0px;
    border: 0;
    border-top: 2px solid #000;
    margin: 1em 0;
    
}
.randomtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


@media only screen and (max-width: 600px) {
.col1 {width: 100%;} 
.col2 {width: 100%;}
.col3 {width: 100%;}
.col4 {width: 100%;}
.col5 {width: 100%;}
    
h1{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.space{
    width: 100%;
    height: 450px;  
}
}

@media only screen and (max-width: 376px) {
.col1 {width: 100%;} 
.col2 {width: 100%;}
.col3 {width: 100%;}
.col4 {width: 100%;}
.col5 {width: 100%;}
    
h1{
    font-family: "Helvetica Neue " , Helvetica , sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.space{
    width: 100%;
    height: 390px;  
} 
    }


.marquee {
  margin: 0px;
  padding: 10px;
  height: 50px;
  width: 100%;

  overflow: hidden;
  position: relative;
}
    
.marquee div {
  display: block;
  width: 200%;
  height: 40px;
  color: black;

  position: absolute;
  overflow: hidden;

  animation: marquee 12s linear infinite;
}

.marquee span {
  float: left;
  width: 25%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 2;
        widows: 2;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
